<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style= "background-color:lightsalmon; color:wheat; background-image: url(https://cms-assets.theasc.com/Total-Recall-Walk-copy.jpg); background-size: 100%">
  <div class="container-fluid">
    <div class="jumbotron text-center" style="background-image: url(https://cms-assets.theasc.com/Total-Recall-Walk-copy.jpg); background-size: 100%" background-height: 18px>
      <h1 style="color:tomato;">Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button"  background style=background-color:darkred;>Scrape New Data</a></p>
    </div>

<p>
  <div class="container">
    <div class="row";>
      <div class="col-12">
    <h2>Latest Mars News:</h2>
    <h3>{{ dict_web.Headline }}</h3>
    <p><h4>{{ dict_web.Paragraph }}</p>
</p></div></div></div>

<div class="container">

  <!-- Row 1 Section 1 -->
  <div class="row";>
    <div class="col-md-7 col-12">
      <h1 class='title2'>Featured Mars Image</h1>
      <img src={{ dict_web.FeaturedImage }}  width= 100% height=auto >
    </div>
  

  <!-- Row 1 Section 2 -->
<div class="col-md-5 col-12" >
  <div class="box2;" style= "outline-style: solid;">
  <h2 class='titleside;'>Current Weather On Mars</h2>
  <p>{{ dict_web.Weather }}</p>
</div>
  <div class="container2">
     
    <div class="row">
      <div class="col-md-12">
        <br>
        <h2>Mars Facts</h2>
        <p>{{ dict_web.Facts|safe }}</p>
</div>
  </div>  
      </div></div></div>
      <br>
      <br>

      <div class="container3" style= "text-align: center; padding-right:18px; padding-left: 18px;">
        <div class="row">
          <div class="col-md-12">
                <div class="box">
                <h1 class='title2'>Mars Hemispheres</h1>
                <hr class="my-4">
              
             
             <p>

        <!-- Row 1 Section 1 -->
        <div class="row">
          <div class="col-md-6 card" style= "outline-style: solid; ">
                    
            <div class='hover'>
                
        
    

        
        
          <img src={{ dict_web.Images[0]['img_url'] }} alt="Cinque Terre" width=75% height=auto class="img-fluid" style="display:block;margin-left:auto;margin-right:auto;">
          <h3 class="titleside">{{ dict_web.Images[0]['title'] }}</h3>


        
      </div></div>
      
      
        <div class="col-md-6 card" style= "outline-style: solid;">
            
            <div class='hover'>
                

        
        
          <img src={{ dict_web.Images[1]['img_url'] }} alt="Forest" width=75% height=auto class="img-fluid" style="display:block;margin-left:auto;margin-right:auto;">
        
          <h3 class="titleside">{{ dict_web.Images[1]['title'] }}</h3>
      </div></div></div>
      
      <div class="row">
        <div class="col-md-6 card" style= "outline-style: solid;">
            <div class='hover'>
                
        <br>
            
            
          <img src={{ dict_web.Images[2]['img_url'] }} alt="Northern Lights" width=75% height=auto class="img-fluid" style="display:block;margin-left:auto;margin-right:auto;">
          <h3 class="titleside">{{ dict_web.Images[2]['title'] }}</h3>
        
      </div></div>
      
      
      <div class="col-md-6 card" style= "outline-style: solid;">
        <div class='hover'>
          <br>
            
        
      
      
          <img src={{ dict_web.Images[3]['img_url'] }} alt="Mountains" width=75% height=auto class="img-fluid" style="display:block;margin-left:auto;margin-right:auto;">
          <h3 class="titleside">{{ dict_web.Images[3]['title'] }}</h3>
          
        </div>
        
      </div></div>
    </div>
</div>
</div>
      </div>
</div>
</div>
<br>
</body>
</html>